<div class="Footer">
    <div class="Footer-inner">
        <a href="#" class="rss-tag-icon" title="RSS"></a>
           <div class="Footer-text">
              Proyecto Inscripción
           </div>
    </div>
    <div class="Footer-background"></div>
</div>
</body>

